//# Font
$regular-font: "Spartan", sans-serif;

//# Colors
$background-color: #ffffff;

//## section call colors
$call-title-color: #502050;
$call-description-color: #937b92;

//## section stars colors
$stars-text-color: #502050;
$stars-background-color: #f7f2f7;

//## section testimonials collors
$testimonials-background-color: #502050;
$client-name-color: #f7f2f8;
$client-status-color: rgba(238, 104, 164, 0.6);
$client-testimony-color: #f7f2f8;

//# Spaces
$global-space: 1rem;

//# Border
$global-border-radius: 0.6rem;
