$color-background: #fff;
$regular-font: "Lexend Deca", sans-serif;
$bold-font: "Big Shoulders Display", cursive;

// ### Primary
$bright-orange: #e38826;
$dark-cyan: #006970;
$very-dark-cyan: #004241;

// ### Neutral

//(paragraphs)
$transparent-white: rgba(255, 255, 255, 0.75);

//(background, headings, buttons)
$very-light-gray: #f2f2f2;
